<ion-view title="Guimo | Cuidando">
  <ion-content>
    <div class="estrelas animated zoomIn"></div>
    <div class="astronauta animated"></div>
    <div class="planeta animated shake"></div>
    <div class="naveguimo animated fadeInLeft"></div>
    <div class="terra animated bounce"></div>

    <div class="row">
        <div class="col">
          <div class="button-bar">
            <a class="button button-outline button-positive">
              <img src="img/hamburguer.png" alt="Hamburguer" id="hamburguer" />
            </a>
            <a class="button button-outline button-positive"><img src="img/icecream.png" alt="icecream" id="icecream" /></a>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col">

      </div>
    </div>


  </ion-content>
</ion-view>
