<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear icon ion-chevron-left" ng-click="back('menu');"></button>
  </div>
  <h1 class="title">Guimo</h1>
</ion-header-bar>
<ion-pane>
  <ion-content>
  <style>
    #info {
      position	: absolute;
      top		: 0px;
      width		: 100%;
      padding		: 5px;
      text-align	: center;
    }
    #info a {
      color		: #66F;
      text-decoration	: none;
    }
    #info a:hover {
      text-decoration	: underline;
    }
    #container {
      width		: 100%;
      height		: 100%;
      overflow	: hidden;
      padding		: 0;
      margin		: 0;
      -webkit-user-select	: none;
      -moz-user-select	: none;
    }
  </style>
  <div id="container"></div>
  <div id="info">
    <span id="result"></span>
  </div>

  </ion-content>
</ion-pane>
