<ion-pane>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Guimo</h1>
  </ion-header-bar>
  <ion-content>
    <div class="astronauta"></div>
    <div class="planeta"></div>
    <div class="naveguimo"></div>

    <div class="row">
      <div class="col col-50">
          <div class="amarelo text-center">
              <a href="#" class="assertive" style="font-size:50px;"><i class="icon ion-ios-game-controller-b"></i></a>
          </div>
      </div>

      <div class="col col-50">
          <div class="verde text-center">
              <a href="#" class="energized" style="font-size:50px;"><i class="icon ion-soup-can"></i></a>
          </div>
      </div>
    </div>

  </ion-content>
</ion-pane>
